<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/head :: headFragment"></th:block>
<th:block th:replace="fragments/header :: headerFragment"></th:block>


<main id="main" class="main">
    <div class="justify-content-center">
        <h1>User Argument</h1>
    </div>
    <!--    <div class="container">-->
    <!--        <table class="table table-hover table-dark">-->
    <!--            <thead>-->
    <!--            <tr>-->
    <!--                <th scope="col">Object Name</th>-->
    <!--                <th scope="col">Package Name</th>-->
    <!--                <th scope="col">Argument Name</th>-->
    <!--            </tr>-->
    <!--            </thead>-->
    <!--            <tbody>-->
    <!--            <tr th:each="list : ${user_arguments}">-->
    <!--                <td><span th:text="${list.object_name}"></span></td>-->
    <!--                <td><span th:text="${list.package_name}"></span></td>-->
    <!--                <td><span th:text="${list.argument_name}"></span></td>-->
    <!--            </tr>-->
    <!--            </tbody>-->
    <!--        </table>-->
    <!--    </div>-->
    <!-- Recent Updated Object -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">

<!--            <div class="filter">-->
<!--                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>-->
<!--                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">-->
<!--                    <li class="dropdown-header text-start">-->
<!--                        <h6>Filter</h6>-->
<!--                    </li>-->

<!--                    <li><a class="dropdown-item" href="#">Today</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">This Month</a></li>-->
<!--                    <li><a class="dropdown-item" href="#">This Year</a></li>-->
<!--                </ul>-->
<!--            </div>-->

            <div class="card-body">

                <table class="table table-borderless datatable table-hover">
                    <thead>
                    <tr>

                        <th scope="col">Object Name</th>
                        <th scope="col">Package Name</th>
                        <th scope="col">Argument Name</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="list : ${user_arguments}" th:if="${listStat.count} <= 50">
                        <td><span th:text="${list.object_name}"></span></td>
                        <td><span th:text="${list.package_name}"></span></td>
                        <td><span th:text="${list.argument_name}"></span></td>
                    </tr>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

</html>